<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Portfolio - Bennani Soufiane</title>
    <link rel="stylesheet" href="/static/css/bulma.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- Back to top button -->
    <a id="back_top_button"></a>
    <%- include('partial/header'); -%>
    <section id="home"      class="page-header bs-primary-background-color"><%- include('pages/home'); -%></section>
    <section id="profil"    class="section has-background-light"><%- include('pages/profile'); -%></section>
    <section id="skills"    class="section bs-primary-background-color"><%- include('pages/skills'); -%></section>
    <section id="career"    class="section has-background-light"><%- include('pages/career'); -%></section>
    <section id="showcase"  class="section bs-primary-background-color"<%- include('pages/showcase'); -%></section>
    <section id="contact"   class="section has-background-light"><%- include('pages/contact'); -%></section>
    <%- include('partial/footer'); -%>
</body>

<script>
    $( document ).ready(function() {
        var btn = $('#back_top_button');
        $(window).scroll(function() {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({scrollTop:0}, '300');
        });
    });
</script>

</html>
