@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');

html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Quicksand', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.bs-primary-background-color {
    background: rgb(87,74,226);
    background: linear-gradient(135deg, rgba(87,74,226,1) 0%, rgba(34,42,104,1) 100%);
}
.bs-secondary-background-color {
    background: #FF9800 !important;
}
.page-header {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: whitesmoke;
}

.page-footer {
    background: rgb(87,74,226);
    background: linear-gradient(135deg, rgba(87,74,226,1) 0%, rgba(34,42,104,1) 100%);
    border-top-right-radius:10%;
    border-top-left-radius:200%;
}
.page-footer .title{
    color: whitesmoke !important;

}
.page-footer .subtitle{
    color: whitesmoke !important;

}

#back_top_button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 1rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back_top_button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#back_top_button:hover {
    cursor: pointer;
    -moz-box-shadow:    inset 0 0 3px #fff;
    -webkit-box-shadow: inset 0 0 3px #fff;
    box-shadow:         inset 0 0 3px #fff;
}
#back_top_button:active {
    background-color: #555;
}
#back_top_button.show {
    opacity: 1;
    visibility: visible;
}

.bs-subtitle-section {
    margin: 4rem !important;
    margin-top:1rem !important;
}

.bs-primary-background-color .bs-subtitle-section {
    color:#feffffcc !important;
}


