<section class="has-background-light">
    <div class="hero-body page-footer">
        <div class="container has-text-centered">
            <h1 class="title">© Benson</h1>
            <h2 class="subtitle">Footer</h2>
        </div>
    </div>
</section>
