<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="/static/img/logo.png" width="50" height="150">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="bs-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="bs-navbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-uppercase" href="#home">Accueil</a>
                <a class="navbar-item is-uppercase" href="#skills">Compétences</a>
                <a class="navbar-item is-uppercase" href="#career">Parcours</a>
                <a class="navbar-item is-uppercase" href="#showcase">Vitrine</a>
                <a class="navbar-item is-uppercase" href="#contact">Contact</a>
            </div>
        </div>
    </div>
</nav>

<style>
    #bs-navbar .navbar-item:hover{
        color:rgb(87,74,226);
        border-bottom: 3px solid rgb(87,74,226);
    }
</style>
