<div class="container">
    <h1 class="title is-uppercase has-text-centered">Parcours</h1>
    <h2 class="subtitle has-text-centered bs-subtitle-section">
        Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina
        Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina.
    </h2>
    <div class="buttons bs-buttons-carrers has-addons">
        <button id="bs-show-all-carrers" class="button is-dark is-selected">Tous</button>
        <button id="bs-show-formation" class="button">Formation</button>
        <button id="bs-show-job" class="button">Expérience professionnelle </button>
    </div>
    <ul id='timeline'>
        <li class='work job'>
            <input class='radio job' id='work5' name='works' type='radio' checked>
            <div class="relative">
                <label for='work5'>Lorem ipsum dolor sit amet</label>
                <span class='date'>12 May 2013</span>
                <span class='circle'></span>
            </div>
            <div class='content'>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea necessitatibus quo velit natus cupiditate qui alias possimus ab praesentium nostrum quidem obcaecati nesciunt! Molestiae officiis voluptate excepturi rem veritatis eum aliquam qui laborum non ipsam ullam tempore reprehenderit illum eligendi cumque mollitia temporibus! Natus dicta qui est optio rerum.
                </p>
            </div>
        </li>
        <li class='work formation'>
            <input class='radio' id='work3' name='works' type='radio'>
            <div class="relative">
                <label for='work3'>Lorem ipsum dolor sit amet</label>
                <span class='date'>10 May 2013</span>
                <span class='circle'></span>
            </div>
            <div class='content'>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea necessitatibus quo velit natus cupiditate qui alias possimus ab praesentium nostrum quidem obcaecati nesciunt! Molestiae officiis voluptate excepturi rem veritatis eum aliquam qui laborum non ipsam ullam tempore reprehenderit illum eligendi cumque mollitia temporibus! Natus dicta qui est optio rerum.
                </p>
            </div>
        </li>
        <li class='work formation'>
            <input class='radio' id='work4' name='works' type='radio'>
            <div class="relative">
                <label for='work4'>Lorem ipsum dolor sit amet</label>
                <span class='date'>10 May 2013</span>
                <span class='circle'></span>
            </div>
            <div class='content'>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea necessitatibus quo velit natus cupiditate qui alias possimus ab praesentium nostrum quidem obcaecati nesciunt! Molestiae officiis voluptate excepturi rem veritatis eum aliquam qui laborum non ipsam ullam tempore reprehenderit illum eligendi cumque mollitia temporibus! Natus dicta qui est optio rerum.
                </p>
            </div>
        </li>
        <li class='work job'>
            <input class='radio' id='work10' name='works' type='radio'>
            <div class="relative">
                <label for='work10'>Lorem ipsum dolor sit amet</label>
                <span class='date'>10 May 2013</span>
                <span class='circle'></span>
            </div>
            <div class='content'>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea necessitatibus quo velit natus cupiditate qui alias possimus ab praesentium nostrum quidem obcaecati nesciunt! Molestiae officiis voluptate excepturi rem veritatis eum aliquam qui laborum non ipsam ullam tempore reprehenderit illum eligendi cumque mollitia temporibus! Natus dicta qui est optio rerum.
                </p>
            </div>
        </li>
    </ul>
</div>

<script>
    $( document ).ready(function() {
        $( ".bs-buttons-carrers .button" ).click(function() {
            $('.is-selected').removeClass('is-selected');
            $('#'+$(this).attr('id')).addClass('is-selected');
            switch($(this).attr('id')){
                case 'bs-show-job':
                    $('.work').hide();
                    $('.work.job').show();
                    $(".work.formation .radio").prop("checked", false).trigger("change");
                    $(".work.job .radio").eq(0).prop("checked", true).trigger("click");
                    break;
                case 'bs-show-formation':
                    $('.work').hide();
                    $('.work.formation').show();
                    $(".work.job .radio").prop("checked", false).trigger("change");
                    $(".work.formation .radio").eq(0).prop("checked", true).trigger("click");
                    break;
                case 'bs-show-all-carrers':
                    $('.work').show();
                    $(".work .radio").prop("checked", false).trigger("change");
                    $(".work .radio").eq(0).prop("checked", true).trigger("click");
                    break;
                default:
                    $('.work').show();
                    break;
            }
        });

        $( ".work .relative .circle" ).click(function() {
            let id = $(this).parents('.work').eq(0).find('.radio').attr('id');
            $(".work .radio").prop("checked", false).trigger("change");
            $("#"+id).prop("checked", true).trigger("click");

        });
    });
</script>
<style>
    #career .bs-buttons-carrers .button{
        background: #4a4a4a;
        color:white;
    }
    #career .bs-buttons-carrers .is-selected{
        background: #FF9800;
        color:white;
    }
    #career .bs-buttons-carrers .is-selected:hover{
        color: white;
        border:none !important;
        -moz-box-shadow:    inset 0 0 3px #fff;
        -webkit-box-shadow: inset 0 0 3px #fff;
        box-shadow:         inset 0 0 3px #fff;
        border-left: 1px solid #dbdbdb !important;

    }

    #timeline {
        list-style: none;
        margin: 50px 0 30px 120px;
        padding-left: 30px;
        border-left: 7px solid #4a4a4a;
        border-radius:5px;
    }
    #timeline li {
        margin: 40px 0;
        position: relative;
    }
    #timeline p {
        margin: 0 0 15px;
    }

    #timeline .date {
        margin-top: -10px;
        top: 50%;
        left: -158px;
        font-size: 0.95em;
        line-height: 20px;
        position: absolute;
    }
    #timeline .circle {
        margin-top: -1rem;
        cursor:pointer;
        top: 50%;
        left: -3.1rem;
        width: 2rem;
        height: 2rem;
        background: whitesmoke;
        border: 3px solid #4a4a4a;
        border-radius: 50%;
        display: block;
        position: absolute;
    }

    #timeline .content {
        max-height: 20px;
        padding: 50px 20px 0;
        border-color: transparent;
        border-width: 2px;
        border-style: solid;
        border-radius: 0.5em;
        position: relative;
    }
    #timeline .content:before, #timeline .content:after {
        content: "";
        width: 0;
        height: 0;
        border: solid transparent;
        position: absolute;
        pointer-events: none;
        right: 100%;
    }

    #timeline .content p {
        max-height: 0;
        color: transparent;
        text-align: justify;
        word-break: break-word;
        hyphens: auto;
        overflow: hidden;
    }
    #timeline label {
        cursor: pointer;
        font-size: 1.3em;
        position: absolute;
        z-index: 100;
        top: 0.7rem;
        -webkit-transition: -webkit-transform 0.2s linear;
    }
    #timeline .radio {
        display: none;
    }

    /* IF Radio checked => Label && circle */
    #timeline .radio:checked + .relative label {
        color: white;
        cursor: auto;
        -webkit-transform: translateX(42px);
    }

    #timeline .radio:checked + .relative .circle {
        background: rgb(87,74,226);
    }


    /* IF Radio checked => Content */
    #timeline .radio:checked ~ .content {
        max-height: 180px;
        margin-right: 20px;
        background: rgb(87,74,226);
        background: linear-gradient(135deg, rgba(87,74,226,1) 0%, rgba(34,42,104,0.6) 100%);
        -webkit-transform: translateX(20px);
        -webkit-transition: max-height 0.4s linear, border-color 0.5s linear, -webkit-transform 0.2s linear;
    }
    #timeline .radio:checked ~ .content p {
        max-height: 200px;
        color: #eee9dc;
        -webkit-transition: color 0.3s linear 0.3s;
    }


    /* IF Radio checked => Content:before */
    #timeline .radio:checked ~ .content:before {
        border-width: 20px;
        top: 50%;
        margin-top: -20px;
        border-right-color: rgb(87,74,226);
    }
    #timeline .radio:checked ~ .content:after {
        border-width: 17px;
        top: 50%;
        margin-top: -17px;
    }
</style>
