<div class="container">
    <h1 class="title is-uppercase has-text-centered">Contact</h1>
    <h2 class="subtitle has-text-centered bs-subtitle-section">
        Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina
        Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina.
    </h2>

    <div class="columns">
        <div class="column is-two-thirds" style="margin:auto;">
            <div id="bs-contact-form" >
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input id="bs-contact-name" class="input" type="text" placeholder="Votre nom">
                                <span class="icon is-small is-left">
                          <i class="fa fa-2x fa-user-o"></i>
                        </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input id="bs-contact-email" class="input" type="email" placeholder="Votre e-mail">
                                <span class="icon is-large is-left">
                            <i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i>
                        </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <p class="control has-icons-left">
                        <input id="bs-contact-subject" class="input" type="text" placeholder="subject">
                        <span class="icon is-small is-left">
                  <i class="fa fa-2x fa-font"></i>
                </span>
                    </p>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control ">
                                <div class="bs-textarea-wrapper">
                                    <textarea class="textarea" id="bs-contact-body" cols="58" rows="10" tabindex="4" placeholder="Explain how we can help you"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bs-form-msg-error" class="control" style="display:none; margin-bottom:1rem;">
                    <div class="tags has-addons">
                        <span class="tag is-danger"><i class="fa fa-exclamation" style="margin-right:0.5rem;" aria-hidden="true"></i> Erreur </span>
                        <span class="tag bs-msg-error is-dark"></span>
                    </div>
                </div>
                <div class="control">
                    <button href="javascript:void(0)"  class="button bs-secondary-background-color bs-send-msg"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Envoyer le message</button>
                </div>
            </div>

            <div id="bs-send-successful" style="display:none;" class="columns is-centered">
                <div class="column is-half has-text-centered" style="margin:auto;">
                    <img src="/static/img/mail-success.svg" height="200px" width="150px" alt="Message envoyé">
                    <p class="is-size-4 has-text-weight-bold has-text-success" style="margin-top:0.5em;">Message envoyer avec succès.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $( "#contact .bs-send-msg" ).click(function() {
            $('.bs-send-msg').addClass('is-loading');
            $('#bs-form-msg-error').fadeOut();
            $('#bs-form-msg-error .bs-msg-error').text('');

            let data_form = {
                'name': $('#bs-contact-name').val(),
                'email': $('#bs-contact-email').val(),
                'subject': $('#bs-contact-subject').val(),
                'body': $('#bs-contact-body').val()
            }
            $.ajax({
                type: "POST",
                url: "http://localhost:8080/send-email",
                data: data_form,
                success: function(response) {
                    if(response.success){
                        $('#bs-contact-form').fadeOut(300);
                        $('#bs-send-successful').fadeIn(1000);
                    } else {
                        let msgError = ""
                        if(response.error == 0){
                            msgError = "Veuillez remplire toutes les informations demandées à fin d'envoyer le mail.";
                        } else {
                            msgError = "Oups ! une erreur est survenue";
                        }
                        $('#bs-form-msg-error .bs-msg-error').html(msgError);
                        $('#bs-form-msg-error').fadeIn(200);
                    }
                    $('.bs-send-msg').removeClass('is-loading');
                },
                error: function(jqXHR, textStatus, err) {
                    alert('text status '+textStatus+', err '+err)
                }
            });
        });

    });
</script>
<style>
    #contact .icon{
        height:2.9em !important;
        width: 3.3em !important;
    }
    #contact .bs-send-msg{
        float:right;
        color: white;
        border:none !important;

    }
    #contact .bs-send-msg:hover{
        color: white;
        border:none !important;
        -moz-box-shadow:    inset 0 0 3px #fff;
        -webkit-box-shadow: inset 0 0 3px #fff;
        box-shadow:         inset 0 0 3px #fff;
    }
    #contact .bs-send-msg:focus:not(:active), .bs-send-msg.is-focused:not(:active) {
        box-shadow : none !important;
        border: none !important;
    }
    #contact input{
        background: rgb(87,74,226);
        background: linear-gradient(135deg, rgba(87,74,226,0.8) 0%, rgba(34,42,104,.8) 100%);
        color: white;
        font-size: 1.2em;
        border-radius:1em;
    }
    #contact input:focus{
        box-shadow : none !important;
        border : none !important;
    }

    #contact textarea:focus{
        box-shadow : none !important;
        border : none !important;
    }
    #contact textarea {
        width: 100%;
        resize: vertical;
        background: rgb(87,74,226);
        background: linear-gradient(135deg, rgba(87,74,226,0.8) 0%, rgba(34,42,104,.8) 100%);
        border: none;
        height: 250px;
        min-height: 100px;
        color: white;
        font-size: 1.2em;
        border-radius:1em;

    }

    #contact .bs-textarea-wrapper {
        position: relative;
    }
    #contact .bs-textarea-wrapper::after {
        pointer-events: none;
        content: "↓";
        font-size: 14px;
        position: absolute;
        height: 22px;
        width: 22px;
        text-align: center;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        background-color: #efefef;
    }

    ::-webkit-input-placeholder {
        color: white !important;
        font-size: 1.2em;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: white !important;
        font-size: 1.2em;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
        color: white !important;
        font-size: 1.2em;
    }
    :-ms-input-placeholder {
        color: white !important;
        font-size: 1.2em;
    }
    ::placeholder {
        color: white !important;
        font-size: 1.2em;
    }
    ::placeholder {
        color: white !important;
        font-size: 1.2em;
    }
</style>
