<div class="hero-body">
    <div class="columns has-text-centered ">
        <div class="column is-half" style="margin:auto;">
            <h2 class="title has-text-white">Bienvenu</h2>
            <h3 class="subtitle has-text-white" style="margin-bottom:3rem;">|| Benson || Développeur application web</h3>
            <div class="notification bs-primary-background-color">
                <div class="columns">
                    <div class="column">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://mon-appli-vtc.com/wp-content/uploads/bfi_thumb/employee-01-1-npkxnpm0qicaki8i7oxmf2brijce7ybwy5vqh71r0s.jpg" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title has-text-white is-4">Bennani Soufiane</p>
                                <p class="subtitle is-6">
                                    Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo dedecore temptasse aliquando dicitur Gallienus
                                    Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo dedecore temptasse aliquando dicitur Gallienus
                                    Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo dedecore temptasse aliquando dicitur Gallienus
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <button class="button bs-secondary-background-color bs-download-cv"><i class="fa fa-2x fa-cloud-download" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Télécharger mon CV</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="svg-border-rounded text-light">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
</div>

<style>
    .svg-border-rounded svg {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3rem;
        width: 100%;
    }

    .svg {
        overflow: hidden;
        vertical-align: middle;
    }

    #home .bs-download-cv{
        float:right;
        color: white;
        border:none !important;
    }
    #home .bs-download-cv:hover{
        color: white;
        border:none !important;
        -moz-box-shadow:    inset 0 0 3px #fff;
        -webkit-box-shadow: inset 0 0 3px #fff;
        box-shadow:         inset 0 0 3px #fff;
    }
    .media-content .subtitle {
        color: #feffffcc !important;
    }

</style>
