<div class="columns is-multiline is-centered" style="margin:5%;">
    <div class="column is-one-third bs-aptitude has-text-centered">
        <div class="bs-aptitude-img">
            <img src="/static/img/aptitudes/a1.svg" alt="bs-aptitude1">
        </div>
        <p class="is-size-4 has-text-weight-bold bs-aptitude-title" style="margin-top:0.5em;">Aptitude 1</p>
        <p class="is-size-6 has-text-weight-light bs-aptitude-subtitle" style="margin-top:1em;">Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina</p>
    </div>
    <div class="column is-one-third bs-aptitude has-text-centered">
        <div class="bs-aptitude-img">
            <img src="/static/img/aptitudes/a2.svg" alt="bs-aptitude2">
        </div>
        <p class="is-size-4 has-text-weight-bold bs-aptitude-title" style="margin-top:0.5em;">Aptitude 2</p>
        <p class="is-size-6 has-text-weight-light bs-aptitude-subtitle" style="margin-top:1em;">Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina</p>
    </div>
    <div class="column is-one-third bs-aptitude has-text-centered">
        <div class="bs-aptitude-img" >
            <img src="/static/img/aptitudes/a3.svg" alt="bs-aptitude3">
        </div>
        <p class="is-size-4 has-text-weight-bold bs-aptitude-title" style="margin-top:0.5em;">Aptitude 3</p>
        <p class="is-size-6 has-text-weight-light bs-aptitude-subtitle" style="margin-top:1em;">Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina</p>
    </div>
</div>

<style>
    #profil .bs-aptitude-img{
        width: 7rem;
        height: 7rem;
        margin: auto;
        background: rgb(87,74,226);
        background: linear-gradient(135deg, rgba(87,74,226,0.8) 0%, rgba(34,42,104,0.8) 100%);
        border-radius: 1rem;

    }

    #profil .bs-aptitude-img img {
        padding:1rem;
    }
</style>

