<div class="container">
    <h1 class="title is-uppercase has-text-light has-text-centered">Vitrine</h1>
    <h2 class="subtitle has-text-centered has-text-light bs-subtitle-section">
        Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina
        Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina.
    </h2>
    <div class="columns" style="margin-bottom:6rem;">
        <div class="column is-one-quart">
            <figure class="image content-projects is-256x256">
                <div class="content-overlay"></div>
                <img class="content-image" src="https://bulma.io/images/placeholders/256x256.png">
                <div data-modal="m1" class="content-details fadeIn-left">
                    <h3>This is a title</h3>
                    <p>This is a short description</p>
                </div>
            </figure>
        </div>

        <div class="column is-one-quart">
            <figure class="image content-projects is-256x256">
                <div class="content-overlay"></div>
                <img class="content-image" src="https://bulma.io/images/placeholders/256x256.png">
                <div data-modal="m2" class="content-details fadeIn-left">
                    <h3>CovoitM</h3>
                    <p>This is a short description</p>
                </div>
            </figure>
        </div>

        <div class="column is-one-quart">
            <figure class="image content-projects is-256x256">
                <div class="content-overlay"></div>
                <img class="content-image" src="https://bulma.io/images/placeholders/256x256.png">
                <div data-modal="m3"class="content-details fadeIn-left">
                    <h3>This is a title</h3>
                    <p>This is a short description</p>
                </div>
            </figure>
        </div>

        <div class="column is-one-quart">
            <figure class="image content-projects is-256x256">
                <div class="content-overlay"></div>
                <img class="content-image" src="https://bulma.io/images/placeholders/256x256.png">
                <div data-modal="m4"class="content-details fadeIn-left">
                    <h3>This is a title</h3>
                    <p>This is a short description</p>
                </div>
            </figure>
        </div>
    </div>

    <!-- [début] Liste des détails des projets -->
    <div id="m1" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head bs-primary-background-color">
                <p class="modal-card-title has-text-light">CovoitM 1</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body has-background-light">
                <ul>
                    <li>
                        <h6 class="title is-6">Déscription du projet</h6>
                        <h6 class="subtitle is-6">
                            Hac ex causa conlaticia stipe Valerius humatur ille Publicola et subsidiis amicorum mariti inops cum liberis uxor alitur Reguli et dotatur ex aerario filia Scipionis, cum nobilitas florem adultae virginis diuturnum absentia pauperis erubesceret patris.
                        </h6>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Technologies utilisées</h6>
                        <div class="tags">
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Twelve</span>
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Twelve</span>
                        </div>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Équipe</h6>
                        <h6 class="subtitle is-6"><a href="http://meknassi.fr">@Hamza El Meknassi</a>, et moi même.</h6>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Date</h6>
                        <h6 class="subtitle is-6">Mars 2017</h6>
                    </li><br>
                </ul>
                <div class="control">
                    <button class="button bs-secondary-background-color bs-go-demo"><i class="fa fa-desktop fa-1x" style="margin-right:0.5rem;" aria-hidden="true"></i> Démonstration</button>
                </div>
            </section>
        </div>
    </div>

    <div id="m2" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head bs-primary-background-color">
                <p class="modal-card-title has-text-light">CovoitM 2</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body has-background-light">
                <ul>
                    <li>
                        <h6 class="title is-6">Déscription du projet</h6>
                        <h6 class="subtitle is-6">
                            Hac ex causa conlaticia stipe Valerius humatur ille Publicola et subsidiis amicorum mariti inops cum liberis uxor alitur Reguli et dotatur ex aerario filia Scipionis, cum nobilitas florem adultae virginis diuturnum absentia pauperis erubesceret patris.
                        </h6>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Technologies utilisées</h6>
                        <div class="tags">
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Twelve</span>
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Twelve</span>
                        </div>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Équipe</h6>
                        <h6 class="subtitle is-6"><a href="http://meknassi.fr">@Hamza El Meknassi</a>, et moi même.</h6>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Date</h6>
                        <h6 class="subtitle is-6">Mars 2017</h6>
                    </li><br>
                </ul>
                <div class="control">
                    <button class="button bs-secondary-background-color bs-go-demo"><i class="fa fa-desktop fa-1x" style="margin-right:0.5rem;" aria-hidden="true"></i> Démonstration</button>
                </div>
            </section>
        </div>
    </div>

    <div id="m3" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head bs-primary-background-color">
                <p class="modal-card-title has-text-light">CovoitM 3</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body has-background-light">
                <ul>
                    <li>
                        <h6 class="title is-6">Déscription du projet</h6>
                        <h6 class="subtitle is-6">
                            Hac ex causa conlaticia stipe Valerius humatur ille Publicola et subsidiis amicorum mariti inops cum liberis uxor alitur Reguli et dotatur ex aerario filia Scipionis, cum nobilitas florem adultae virginis diuturnum absentia pauperis erubesceret patris.
                        </h6>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Technologies utilisées</h6>
                        <div class="tags">
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Twelve</span>
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Twelve</span>
                        </div>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Équipe</h6>
                        <h6 class="subtitle is-6"><a href="http://meknassi.fr">@Hamza El Meknassi</a>, et moi même.</h6>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Date</h6>
                        <h6 class="subtitle is-6">Mars 2017</h6>
                    </li><br>
                </ul>
                <div class="control">
                    <button class="button bs-secondary-background-color bs-go-demo"><i class="fa fa-desktop fa-1x" style="margin-right:0.5rem;" aria-hidden="true"></i> Démonstration</button>
                </div>
            </section>
        </div>
    </div>

    <div id="m4" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head bs-primary-background-color">
                <p class="modal-card-title has-text-light">CovoitM 4</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body has-background-light">
                <ul>
                    <li>
                        <h6 class="title is-6">Déscription du projet</h6>
                        <h6 class="subtitle is-6">
                            Hac ex causa conlaticia stipe Valerius humatur ille Publicola et subsidiis amicorum mariti inops cum liberis uxor alitur Reguli et dotatur ex aerario filia Scipionis, cum nobilitas florem adultae virginis diuturnum absentia pauperis erubesceret patris.
                        </h6>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Technologies utilisées</h6>
                        <div class="tags">
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Twelve</span>
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Twelve</span>
                        </div>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Équipe</h6>
                        <h6 class="subtitle is-6"><a href="http://meknassi.fr">@Hamza El Meknassi</a>, et moi même.</h6>
                    </li><br>
                    <li>
                        <h6 class="title is-6">Date</h6>
                        <h6 class="subtitle is-6">Mars 2017</h6>
                    </li><br>
                </ul>
                <div class="control">
                    <button class="button bs-secondary-background-color bs-go-demo"><i class="fa fa-desktop fa-1x" style="margin-right:0.5rem;" aria-hidden="true"></i> Démonstration</button>
                </div>
            </section>
        </div>
    </div>
    <!-- [fin] Liste des détails des projets -->

</div>

<script>
    $( document ).ready(function() {
        $( ".content-details" ).click(function() {
            let id = $(this).data('modal');
            $("#"+id).addClass("is-active");
            $( "#"+id+" .delete" ).click(function() {
                $("#"+id).removeClass("is-active");
            });
        });
    });
</script>
<style>
    #showcase .modal-card{
        border-radius: 0.5rem;
    }

    #showcase .bs-go-demo{
        float:right;
        color: white;
        border:none !important;
    }
    #showcase .bs-go-demo:hover{
        color: white;
        border:none !important;
        -moz-box-shadow:    inset 0 0 3px #fff;
        -webkit-box-shadow: inset 0 0 3px #fff;
        box-shadow:         inset 0 0 3px #fff;
    }

    .content-projects {
        position: relative;
        margin: auto;
        overflow: hidden;
        border: 2px solid white;
        border-radius: 1rem;
    }

    .content-projects .content-overlay {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .content-projects:hover .content-overlay{
        opacity: 1;
    }

    .content-projects:hover{
        border: 4px solid #FF9800;
    }

    .content-image{
        width: 100%;
    }

    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        cursor:pointer;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .content-projects:hover .content-details{
        top: 50%;
        left: 50%;
        opacity: 1;
    }

    .content-details h3{
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }

    .content-details p{
        color: #fff;
        font-size: 0.8em;
    }

    .fadeIn-bottom{
        top: 80%;
    }

    .fadeIn-top{
        top: 20%;
    }

    .fadeIn-left{
        left: 20%;
    }

    .fadeIn-right{
        left: 80%;
    }
</style>
