<div class="container">
    <h1 class="title is-uppercase has-text-white has-text-centered">Compétences</h1>
    <h2 class="subtitle has-text-centered has-text-white bs-subtitle-section">
        Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina
        Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina.
    </h2>
    <div class="tags">
        <span class="tag is-danger is-medium">
            Connaissances
            <i class="fa fa-book" aria-hidden="true"></i>
        </span>
        <span class="tag is-success is-medium" >
            Maîtrise
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </span>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification">
                        <p class="title">HTML/CSS</p>
                        <div class="tags">
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Three</span>
                            <span class="tag is-dark">Four</span>
                            <span class="tag is-dark">Five</span>
                            <span class="tag is-dark">Six</span>
                            <span class="tag is-dark">Seven</span>
                            <span class="tag is-dark">Eight</span>
                            <span class="tag is-dark">Nine</span>
                            <span class="tag is-dark">Ten</span>
                            <span class="tag is-dark">Eleven</span>
                            <span class="tag is-dark">Twelve</span>
                            <span class="tag is-dark">Thirteen</span>
                            <span class="tag is-dark">Fourteen</span>
                            <span class="tag is-dark">Fifteen</span>
                            <span class="tag is-dark">Sixteen</span>
                            <span class="tag is-dark">Seventeen</span>
                            <span class="tag is-dark">Eighteen</span>
                            <span class="tag is-dark">Nineteen</span>
                            <span class="tag is-dark">Twenty</span>
                        </div>
                    </article>
                    <article class="tile is-child notification">
                        <p class="title">Javascript</p>
                        <div class="tags">
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Three</span>
                            <span class="tag is-dark">Four</span>
                            <span class="tag is-dark">Five</span>
                            <span class="tag is-dark">Six</span>
                            <span class="tag is-dark">Seven</span>
                            <span class="tag is-dark">Eight</span>
                            <span class="tag is-dark">Nine</span>
                            <span class="tag is-dark">Ten</span>
                            <span class="tag is-dark">Eleven</span>
                            <span class="tag is-dark">Twelve</span>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <p class="title">PHP</p>
                        <div class="tags">
                            <span class="tag is-dark is-skill-1">One</span>
                            <span class="tag is-dark is-skill-1">Two</span>
                            <span class="tag is-dark is-skill-0">Nine</span>
                            <span class="tag is-dark is-skill-1">Ten</span>
                            <span class="tag is-dark is-skill-1">Eleven</span>
                            <span class="tag is-dark is-skill-1">Twelve</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <p class="title">Bases de données</p>
                    <div class="content">
                        <div class="tags">
                            <span class="tag is-dark">One</span>
                            <span class="tag is-dark">Two</span>
                            <span class="tag is-dark">Twelve</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification">
                <div class="content">
                    <p class="title">Outils & autres</p>
                    <div class="tags">
                        <span class="tag is-dark is-skill-0">One</span>
                        <span class="tag is-dark is-skill-0">Two</span>
                        <span class="tag is-dark is-skill-0">Three</span>
                        <span class="tag is-dark">Four</span>
                        <span class="tag is-dark">Five</span>
                        <span class="tag is-dark is-skill-0">Six</span>
                        <span class="tag is-dark is-skill-0">Seven</span>
                        <span class="tag is-dark">Eight</span>
                        <span class="tag is-dark is-skill-0">Six</span>
                        <span class="tag is-dark">Seven</span>
                        <span class="tag is-dark">Eight</span>
                        <span class="tag is-dark">Six</span>
                        <span class="tag is-dark">Seven</span>
                        <span class="tag is-dark">Eight</span>
                        <span class="tag is-dark">Nine</span>
                        <span class="tag is-dark">Ten</span>
                        <span class="tag is-dark">Eleven</span>
                        <span class="tag is-dark">Twelve</span>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<style>
    #skills .tile .title{
        color:rgb(87,74,226);
    }
    #skills .tags i{
        margin-left:0.5rem;
    }

    .tag.is-skill-0{
        border-bottom: 4px solid #f14668;
        border-left: 4px solid #f14668;
    }
    .tag.is-skill-1{
        border-bottom: 4px solid #48c774;
        border-left: 4px solid #48c774;
    }
</style>
